<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication8.Properties.Settings.inventoryConnectionString" connectionString="data source=&quot;C:\Users\Zou\OneDrive - Association Cesi Viacesi mail\Projects\CMS\Auto - Copie\WindowsFormsApplication1\bin\Debug\inventory.sqlite&quot;" providerName="System.Data.SQLite.EF6"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
